/* Regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[class*="col"]{
    background-color: blueviolet;
    border: 2px solid black;
}

ul li{
    list-style-type: none;
}

/* HEADER */
/* Inserisco lo stile dell'header */

#navbar{
    background-color:darkslategray;
    height: 80px;
}

#navbar-items{
    height: 100%;
}

#navbar-items>.row{
    height: 100%;
}

#navbar-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#menu-symbol{
    display: none;
}


/* MAIN */
/* Inserisco lo stile per il main-start */
#main-start{
    background-color: lightseagreen;
}

#main-start-container >.row{
    padding: 20px 0;
}

#main-start-image{
    height: 200px;
    width: 200px;
}


/* Inserisco lo stile per il main-portfolio */
#main-porfolio{
    background-color:orange;
}

#main-portfolio-container >.row{
    padding: 20px 0;
}

.main-portfolio-image{
    height: 180px;
}

.main-portfolio-image img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
}



/* Inserisco lo stile per il main-about */
#main-about{
    background-color:lightseagreen;
}

#main-about-container >.row{
    padding: 20px 0;
}

#main-about p{
    text-align: left;
}


/* Inserisco lo stile per il main-contact-me */
#main-contact-me{
    background-color:orange;
}

#main-contact-me-container >.row{
    padding: 20px 0;
}


/* FOOTER */
/* Inserisco lo stile per il footer */
#footer{
    background-color:darkslategray;
}

#footer-container >.row{
    padding: 20px 0;
}




/* MEDIA QUERIES */
@media screen and (max-width:650px) {
    #navbar-menu{
        display: none;
    }
    #navbar-menu-container{
        display: none;
    }
    #menu-symbol{
        display: block;
    }
}